<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false" />
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <Telerik.Reporting>
    <AssemblyReferences>
      <add name="TelerikReportingBAS" version="1.0.0.0" />
    </AssemblyReferences>
  </Telerik.Reporting>
  <appSettings>
    <add key="cloud" value="" />
    <add key="isir_service" value="www.isir.info" />
    <add key="isir_login" value="jiri.theimer@gmail.com" />
    <add key="isir_pwd" value="123456" />
    <add key="debugsql" value="0" />
    <add key="guru" value="1" />    
    <add key="super-user-pin" value="adolf" />
    <add key="robot_account" value="lama@marktime50.net" />

    <add key="flexibee_server" value="https://stroj01.net:5434/c/foukal_s_r_o_" />
    <add key="flexibee_login" value="foukalapi" />
    <add key="flexibee_pwd" value="apifoukal" />

    
  </appSettings>
  <!--
            V sekci <appSettings> mohou být definovány události pro spouštění zákaznických SQL procedur:
            p91_afterupdate, p91_beforecreate, p91_aftercreate
            p41_aftersave, p41_beforesave
            p31_aftersave, p31_beforesave
            p28_aftersave, p28_beforesave
            p56_beforesave, p56_aftersave
            o23_beforesave, o23_aftersave
            Vstupní parametry pro BEFORESAVE: j03id_sys, guid, err_ret OUTPUT      ...pokud se v err_ret něco vrátí, dojde k zastavení ukládání záznamu. Přes guid se najdou vstupní údaje záznamu v tabulkce [p85TempBox]
            Vstupní parametry pro AFTERSAVE: j03id_sys, pid                        ...bez návratové chyby
        -->
  <connectionStrings>
    <add name="ApplicationPrimary" connectionString="server=TIMER-THINK\SQLEXPRESS;database=MARKTIME50;uid=sa;pwd=a;" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="server=TIMER-THINK\SQLEXPRESS;database=marktime50_membership;uid=sa;pwd=a;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Telerik.ReportViewer.WebForms, Version=11.0.17.406, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
        <add assembly="Telerik.Reporting, Version=11.0.17.406, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Account/Login.aspx" timeout="2880" protection="All" path="/" requireSSL="false" defaultUrl="Default.aspx" name="NIQESCOOKIE" slidingExpiration="true" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <machineKey validationKey="9E7338046712DC5407684161A2B7F67AE74FF304B005B4B32587BB6BAF89C1FB99E886D5637A771912362466ED9DD4FA9C9BCEBB682918E2536542DD85427FD9" decryptionKey="EF975B401B6327D5D773435F2F0172B81CD19C7EB515FA58" validation="SHA1" decryption="AES" />
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <httpRuntime maxRequestLength="102400" />
    <httpHandlers>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=11.0.17.406, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
    </httpModules>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="ErrorPage.aspx">
      <error statusCode="400" redirect="ErrorPage.aspx?error=400" />
      <error statusCode="401" redirect="ErrorPage.aspx?error=401" />
      <error statusCode="402" redirect="ErrorPage.aspx?error=402" />
      <error statusCode="403" redirect="ErrorPage.aspx?error=403" />
      <error statusCode="404" redirect="ErrorPage.aspx?error=404" />
      <error statusCode="408" redirect="ErrorPage.aspx?error=408" />
      <error statusCode="414" redirect="ErrorPage.aspx?error=414" />
      <error statusCode="500" redirect="ErrorPage.aspx?error=500" />
      <error statusCode="503" redirect="ErrorPage.aspx?error=503" />
      <error statusCode="505" redirect="ErrorPage.aspx?error=505" />
    </customErrors>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="cs-CZ" uiCulture="cs-CZ" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
  </system.web>
  <log4net>
    <appender name="SqlFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\temp\log4net\MARKTIME50\SqlError.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%newline%newline--------%-6p------------%newline[%d{dd.MM.yyyy HH:mm:ss}] (%type.%method)%newline%message%newline%newline" />
      </layout>
    </appender>
    <appender name="DebugFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\temp\log4net\MARKTIME50\Debug.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%newline%newline---------%-6p-----------%newline[%d{dd.MM.yyyy HH:mm:ss}] (%type.%method)%newline%message%newline%newline" />
      </layout>
    </appender>
    <appender name="SMTPFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\temp\log4net\MARKTIME50\SMTP.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%newline%newline---------%-6p-----------%newline[%d{dd.MM.yyyy HH:mm:ss}] (%type.%method)%newline%message%newline%newline" />
      </layout>
    </appender>
    <appender name="MembershipFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\temp\log4net\MARKTIME50\Membership.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%newline%newline---------%-6p-----------%newline[%d{dd.MM.yyyy HH:mm:ss}] (%type.%method)%newline%message%newline%newline" />
      </layout>
    </appender>
    <appender name="HttpErrorFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\temp\log4net\MARKTIME50\HttpError.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%newline%newline---------%-6p-----------%newline[%d{dd.MM.yyyy HH:mm:ss}] (%type.%method)%newline%message%newline%newline" />
      </layout>
    </appender>
    <appender name="RobotFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\temp\log4net\MARKTIME50\Robot.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%newline%newline---------%-6p-----------%newline[%d{dd.MM.yyyy HH:mm:ss}] (%type.%method)%newline%message%newline%newline" />
      </layout>
    </appender>
    <appender name="ImapFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\temp\log4net\MARKTIME50\IMAP.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%newline%newline--------%-6p------------%newline[%d{dd.MM.yyyy HH:mm:ss}] (%type.%method)%newline%message%newline%newline" />
      </layout>
    </appender>
    <logger name="sqllog">
      <level value="All" />
      <appender-ref ref="SqlFileAppender" />
    </logger>
    <logger name="debuglog">
      <level value="All" />
      <appender-ref ref="DebugFileAppender" />
    </logger>
    <logger name="smtplog">
      <level value="All" />
      <appender-ref ref="SMTPFileAppender" />
    </logger>
    <logger name="membershiplog">
      <level value="All" />
      <appender-ref ref="MembershipFileAppender" />
    </logger>
    <logger name="httperrorlog">
      <level value="All" />
      <appender-ref ref="HttpErrorFileAppender" />
    </logger>
    <logger name="robotlog">
      <level value="All" />
      <appender-ref ref="RobotFileAppender" />
    </logger>
    <logger name="imaplog">
      <level value="All" />
      <appender-ref ref="ImapFileAppender" />
    </logger>
  </log4net>
  <location path="Public">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Integration">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=11.0.17.406, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode" />
      
      
      
      
      
      
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Datovka1">
          <match url="datovka/service_info" />
          <action type="Rewrite" url="Integration/datovka_service_info.aspx" />
        </rule>
        <rule name="Datovka2">
          <match url="datovka/upload_hierarchy" />
          <action type="Rewrite" url="Integration/datovka_upload_hierarchy.aspx" />
        </rule>
        <rule name="Datovka3">
          <match url="datovka/upload_file" />
          <action type="Rewrite" url="Integration/datovka_upload_file.aspx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="debug@marktime.cz" deliveryMethod="Network">
        <network host="mail2.webnode.com" port="25" defaultCredentials="false" userName="debug@marktime.cz" password="Commander1-vypnuto" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="checkVatBinding" />
        <binding name="rozhraniCRPDPHSOAP" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ec.europa.eu/taxation_customs/vies/services/checkVatService" binding="basicHttpBinding" bindingConfiguration="checkVatBinding" contract="VatService.checkVatPortType" name="checkVatPort" />
      <endpoint address="http://adisrws.mfcr.cz/adistc/axis2/services/rozhraniCRPDPH.rozhraniCRPDPHSOAP" binding="basicHttpBinding" bindingConfiguration="rozhraniCRPDPHSOAP" contract="SpolehlivostDPH.rozhraniCRPDPH" name="rozhraniCRPDPHSOAP" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>